body{
    background-color: #0D101C !important;   
}

@font-face {
    font-family: 'typo-grotesk';
    src: url('/font/typo-grotesk/Typo\ Grotesk\ Demo.otf');
}

@font-face {
    font-family: 'typo-grotesk-thin';
    src: url('/font/typo-grotesk/Typo\ Grotesk\ Thin\ Demo.otf');
}

@font-face {
    font-family: 'ubuntu';
    src: url('/font/ubuntu/Ubuntu-M.ttf') format('truetype');
}

@font-face {
    font-family: 'ubuntu-mono';
    src: url('/font/ubuntu-mono/UbuntuMono-R.ttf') format('truetype');
}

.container{
    max-width: 80%;
    margin: 0 auto;
}

.row{
    display: flex;
    margin-left: 15px;
    margin-right:15px;
}

.center{
    justify-content: center;
}

.col-3{
    max-width: 33.3333333%;
}

nav{
    margin-top: 50px;
}

nav p {
    font-family: typo-grotesk;
    color: #E4E2E9;
    font-size: 25px;
    display: inline;
}

nav ul {
    display: inline;
    margin-left: 480px;
}

nav ul li {
    display: inline;
}


nav ul li a {
    font-family: typo-grotesk;
    color: #E4E2E9;
    font-size: 25px;   
    margin-left: 35px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: none;
    color: #e4e2e9;
    border-bottom: 2px solid #E4E2E9;

}

.title-line-1{
    font-family: ubuntu;
    font-size: 87px;
    color: rgb(18, 22, 39);
    margin-top: 115px;
    transition: all 0.3s ease-in-out;
}

.title-line-1:hover{
    font-family: ubuntu;
    font-size: 87px;
    color: #e4e2e9;
    margin-top: 115px;
    border-left: solid 2px #E4E2E9;
    cursor: default;
    padding-left: 10px;
    transition: all 0.1s ease-in-out;
}

.title-line-2{
    font-family: typo-grotesk;
    font-size: 37px;
    color: rgb(18, 22, 39);
    margin-top: -40px;
    transition: all 0.3s ease-in-out;
}

.title-line-2:hover{
    font-family: typo-grotesk;
    font-size: 37px;
    color: #e4e2e9;
    margin-top: -40px;
    border-left: solid 2px #E4E2E9;
    cursor: default;
    padding-left: 10px;
    transition: all 0.1s ease-in-out;
}

.title-line-3{
    font-family: typo-grotesk;
    font-size: 29px;
    color: rgb(18, 22, 39);
    margin-top: -25px;
    transition: all 0.3s ease-in-out;
}

.title-line-3:hover{
    font-family: typo-grotesk;
    font-size: 29px;
    color: #e4e2e9;
    margin-top: -25px;
    border-left: solid 2px #E4E2E9;
    cursor: default;
    padding-left: 10px;
    transition: all 0.1s ease-in-out;
}

.title-line-4{
    font-family: ubuntu;
    font-size: 122px;
    color: rgb(18, 22, 39);
    margin-top: -45px;
    transition: all 0.3s ease-in-out;
}

.title-line-4:hover{
    font-family: ubuntu;
    font-size: 122px;
    color: #e4e2e9;
    margin-top: -45px;
    border-left: solid 2px #E4E2E9;
    cursor: default;
    padding-left: 10px;
    transition: all 0.1s ease-in-out;
}

.title-line-5{
    font-family: typo-grotesk;
    font-size: 29px;
    color: rgb(18, 22, 39);
    margin-top: -40px;
    transition: all 0.3s ease-in-out;
}

.title-line-5:hover{
    font-family: typo-grotesk;
    font-size: 29px;
    color: #e4e2e9;
    margin-top: -40px;
    border-left: solid 2px #E4E2E9;
    cursor: default;
    padding-left: 10px;
    transition: all 0.1s ease-in-out;
}

.subs-line-1{
    font-family: ubuntu;
    font-size: 82px;
    color: #e4e2e9;
    margin-top: 150px;
}

.skill-box{
    border:solid 1px rgb(18, 22, 39);
    border-radius: 10px;
    height: 422px;
    width: 330px;
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 20px;
    transition: all 0.3s ease-in-out;
}

.skill-box:hover{
    background-color: #e4e2e9;
}

.text-box{
    text-align: center;
}

.skill-teks-line-1{
    font-family: ubuntu-mono;
    color: #0D101C;
    font-size: 89px;
    margin-top: 63px;
}

.skill-teks-line-2{
    font-family: typo-grotesk;
    color: #0D101C;
    font-size: 24px;
}

.skill-teks-line-3{
    font-family: typo-grotesk;
    color: #0D101C;
    font-size: 24px;
}

.social-teks-1{
    font-family: ubuntu;
    font-size: 69px;
    color: #E4E2E9;
    margin-top: 300px;
}

.social-teks-2{
    font-family: typo-grotesk;
    font-size: 24px;
    color: #E4E2E9;
    margin-top: -22px;
}

.social-box{
    width: 32px;
    height: 32px;
    /* background-color: gray; */
    margin-left: 12.5px;
    margin-right: 12.5px;
}

.social-box img{
    width: 32px;
    height: 32px;
}

.footer-text-1{
    font-family: typo-grotesk;
    font-size: 20px;
    color: #5a5a5a;
    margin-top: 185px;
}

.footer-text-2{
    font-family: typo-grotesk;
    font-size: 16px;
    color: #5a5a5a;
    margin-top: -18px;
}