body{
    background-color: #0D101C !important;   
}

@font-face {
    font-family: 'typo-grotesk';
    src: url('/font/typo-grotesk/Typo\ Grotesk\ Demo.otf');
}

@font-face {
    font-family: 'typo-grotesk-thin';
    src: url('/font/typo-grotesk/Typo\ Grotesk\ Thin\ Demo.otf');
}

@font-face {
    font-family: 'ubuntu';
    src: url('/font/ubuntu/Ubuntu-M.ttf') format('truetype');
}

@font-face {
    font-family: 'ubuntu-mono';
    src: url('/font/ubuntu-mono/UbuntuMono-R.ttf') format('truetype');
}

.container{
    max-width: 80%;
    margin: 0 auto;
}

.row{
    display: flex;
    margin-left: 15px;
    margin-right:15px;
}

.center{
    justify-content: center;
}

.col-3{
    max-width: 33.3333333%;
}

nav{
    margin-top: 50px;
}

nav p {
    font-family: typo-grotesk;
    color: #E4E2E9;
    font-size: 25px;
    display: inline;
}

nav ul {
    display: inline;
    margin-left: 480px;
}

nav ul li {
    display: inline;
}


nav ul li a {
    font-family: typo-grotesk;
    color: #E4E2E9;
    font-size: 25px;   
    margin-left: 35px;
    text-decoration: none;
}

.title-line-1{
    font-family: ubuntu;
    font-size: 87px;
    color: #e4e2e9;
    margin-top: 115px;
}

.title-line-2{
    font-family: typo-grotesk;
    font-size: 37px;
    color: #e4e2e9;
    margin-top: -40px;
}

.title-line-3{
    font-family: typo-grotesk;
    font-size: 29px;
    color: #e4e2e9;
    margin-top: -25px;
}

.title-line-4{
    font-family: ubuntu;
    font-size: 122px;
    color: #e4e2e9;
    margin-top: -45px;
}

.title-line-5{
    font-family: typo-grotesk;
    font-size: 29px;
    color: #e4e2e9;
    margin-top: -40px;
}

.subs-line-1{
    font-family: ubuntu;
    font-size: 82px;
    color: #e4e2e9;
    margin-top: 100px;
}

.skill-box{
    border:solid 1px #5e7496;
    border-radius: 10px;
    height: 422px;
    width: 330px;
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.text-box{
    text-align: center;
}

.skill-teks-line-1{
    font-family: ubuntu-mono;
    color: #e4e2e9;
    font-size: 89px;
    margin-top: 63px;
}

.skill-teks-line-2{
    font-family: typo-grotesk;
    color: #e4e2e9;
    font-size: 24px;
}

.skill-teks-line-3{
    font-family: typo-grotesk;
    color: #e4e2e9;
    font-size: 24px;
}